<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.6">
    <title>Mis Practicas Node.js</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="container">
    <div class="text-center">
        <div class="p-3 bg-primary text-primary-subtle border border-primary-subtle rounded-3">
            <h1>Mis Practicas Node.js</h1>
            <h2>JORGE RENDON</h2>
        </div>
    </div>

