<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <div>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/tabla">Tabla de Multiplicar</a></li>
                <li class="nav-item"><a class="nav-link" href="/cotizacion">Cotizacion</a></li>
                <li class="nav-item"><a class="nav-link" href="/alumnos">Alumnos</a></li>
            </ul>
        </div>
    </div>
</nav>
