<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Alumnos</title>
</head>

<body>
    <%-include('partials/header.ejs') %>
        <%-include('partials/nav.ejs') %>

            <section>
                <form action="/alumnos" method="post">
                    <input type="number" name="matricula" id="matricula" placeholder="Matricula" required>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                    <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
                    <input type="text" name="sexo" id="sexo" placeholder="M o F" required>
                    <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad" required>
                    <div style="float:right;margin-right:5.5rem;margin-top: 1rem;">
                        <button type="submit">ENVIAR INFORMACION</button>
                    </div>
                </form>
                <div class="container">
                    <table class="table table-hover">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Matricula</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Domicilio</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Especialidad</th>
                        </tr>

                        <% 
                            for(var i=0; i < rows.length; i++){
                        %>
                        <tr>
                            <td><%=rows[i].id_alumno%></td>
                            <td><%=rows[i].matricula%></td>
                            <td><%=rows[i].nombre%></td>
                            <td><%=rows[i].domicilio%></td>
                            <td><%=rows[i].sexo%></td>
                            <td><%=rows[i].especialidad%></td>
                        </tr>
                        <% } %>
                    </table>
                </div>
            </section>

            <%-include('partials/footer.ejs') %>
</body>

</html>