<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Cotización</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            color: #333;
        }

        section {
            padding: 20px;
        }

        #formulario {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input, select, button {
            margin-bottom: 10px;
            padding: 5px;
            width: 100%;
            box-sizing: border-box;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 8px 16px;
            margin-bottom: 15px;
            cursor: pointer;
            border-radius: 3px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }

        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            margin-left: 10px;
            margin-top: 15px;
        }

        button[type="reset"] {
            background-color: #dc3545;
            color: #fff;
            margin-left: 10px;
            margin-top: 15px;
        }

        button[type="reset"]:hover {
            background-color: #bd2130;
        }


        #clean {
            margin-left: 10px;
        }

        #resultado {
            margin-top: 20px;
            font-weight: bold;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs') %>
        <%-include('partials/nav.ejs') %>
    <section>
        <div id="formulario">
            <form action="/cotizacion" method="post">
                <label for="">Valor de Automovil</label>
                <input type="number" name="valor" id="valor" required>
                <br>
                <label for="">Porcentaje de pago inicial</label>
                <input type="number" name="pInicial" id="pInicial" required>
                <br>
                <label for="">Plazos</label>
                <select name="plazos" id="plazos">
                    <option value="12">12 Meses</option>
                    <option value="24">24 Meses</option>
                    <option value="36">36 Meses</option>
                    <option value="48">48 Meses</option>
                    <option value="60">60 Mess</option>
                </select>
                <button type="submit">Calcular</button>
                <br>
                <button type="reset" id="clean">Limpiar</button>
            </form>

            <label for="">Resultado:</label>
            <br>
            <label for="" id="pagoIbicial">Pago Inicial: <%= typeof pagoInicial !== 'undefined' ? pagoInicial.toFixed(2) : '' %></label>
            <br>
            <label for="" id="cuota">Cuota Mensual: <%= typeof cuotaMensual !== 'undefined' ? cuotaMensual.toFixed(2) : '' %></label>

            <% 
            %>
        </div>
    </section>
        <%-include('partials/footer.ejs') %>
</body>
<script>
    //Funcion para limpiar los labels
    const btnLimpia = document.getElementById('clean');
    btnLimpia.addEventListener("click", function () {
        const pagoIni = document.querySelector('#pagoIbicial');
        const cuotaMen = document.querySelector('#cuota');

        pagoIni.textContent = "Pago Inicial:";
        cuotaMen.textContent = "Cuota Mensual:";
    });
</script>
</html>