<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>
        <%=titulo%>
    </title>
</head>

<body>
    <%-include('partials/header.ejs') %>
        <%-include('partials/nav.ejs') %>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, assumenda distinctio quasi deserunt
                natus quo similique a repudiandae, est earum quis necessitatibus architecto minima modi qui accusantium
                sint omnis expedita!
            </p>
            <%-include('partials/footer.ejs') %>
</body>

</html>